* {
box-sizing: border-box;
}

body {
  background-color: #FBF5DD;
  color: #0D530E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  width: 1000px;
  margin: 0px auto;
}

h1 {
  border: 5px solid #306D29;
  padding: 30px;
  margin: 30px;
  text-align: center;
}

.links {
  border: 5px solid #306D29;
  padding: 25px;
  margin-top: 100px;
}

.linkx {
  padding: 10px;
  margin: 20px auto 20px 0px;
}

img {
  width: 640px;
  height: 427px;
  margin: auto;
  border-radius: 10px;
  display: block;
}

.line {
  text-decoration-line: underline overline;
  text-decoration-color: #306D29;
} 
